

.hire__btn{
  background: #fff;
  color: #0e1b31;
}

.hire__btn a{
  text-decoration: none;
  font-weight: 500;
}

.hire__btn:hover{
color: #0e1b31;
}

.hero__title span {
  color: #7865ff;
}

.hero__title {
  font-weight: 600;
}